<div class="bodybg"></div>
<div class="col-md-12 content">
	<div class="row">
		<div class="col-md-6 text-right logo">
			<img src="assets/images/logo.png" alt="Logo" />
		</div>
		<div class="col-md-6 text-left" novalidate>
			<form name="login">
				<input type="text" name="username" ng-model="username" placeholder="User name" ng-required="true" />
				<input type="password" name="password" ng-model="password" placeholder="Password" ng-required="true" />
				<button class="btn btn-primary" ng-click="adminLogin(login.$invalid)">Login</button>
			</form>
		</div>
	</div>
</div>